<h1>district list</h1>
<% @districts.each do |district| %>
    <%= link_to "#{district.name}", district_path(district) %>
    <br>
<% end %>
<%= link_to "new district", new_district_path %> <br>
<%= link_to "new income", new_income_path %> <br>
<%= link_to "new_outgo", new_outgo_path %> <br> 