/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


table, tr, th, td{
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

.tdright {
    text-align: right;
}

#map {
  height: 300px;
  width: 300px;
}

.imgmaparea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}