#map {
  height: 300px;
  width: 300px;
  margin: 10px 0px;
}
#map_index {
    height: 300px;
    width: 500px;
    margin: 10px 0px;
}
.imgmaparea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}