table, tr, th, td{
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

.tdright {
    text-align: right;
}